.container {
    border: 1px solid black;
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    border: 1px solid red;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.box.wider {
    flex-grow: 1;
}